

.nav-items {
list-style: none;
display: flex;
flex-flow: row;
}
.nav-items > li {
    margin: 0 10px;
    font-weight: bold;
}
.react-img {
    width: 70px;
}
.nav-b {
    display: flex;
    /*flex-wrap: nowrap;*/
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.root div {
width: 500px;
height: 500px;
}

body {
margin: 0;
}





















