:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
margin: 0;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {

  border: 1px solid transparent;


  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  padding: 10px;
background-color: #4C566A;
}


.container {
width: 550px;
height: 853px;
display: flex;
flex-direction: column;
border-radius: 9px;
background-color: white;
}
.container>nav {
padding: 0 30px;
display: flex;
align-items: center;
height: 70px;
box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.logo {
height: 26px;
width: 83px;
max-width: 90px;
}
.content {
display: flex;
flex-direction: column;
padding: 26px 0 0 36px ;
height: 100%;

}
.content >img {
width: 396px;
height: 232px;
margin: 0 39px;
/*align-self: center;*/

}
.content>h1 {
margin: 20px 0 0 0 ;
padding: 0;
font-weight: 600;
}
.content>p {
margin: 16px 0 49px 0 ;
padding: 0;
width: 320px;
font-weight: 300;
}

















/*

.container {
  width: 317px;
  height: 780px;
  margin: 10px;
  background-color: #3B4252;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.container > header > img {
height: 317px;
width: 317px;
margin-top: -1px;
border-radius: 7px 7px 0 0;
margin-bottom: 0;
}
.container >header>h2, .container >header>div {

 }
.container > header {
display: flex;
flex-direction: column;
align-items: center;

}
.name {
color: rgb(236, 239, 244);
font-size: 25px;
margin: 12px 0 0 0;
}
.job {
color: #F3BF99;
font-size: 13px;
font-weight: normal;
line-height: normal;
margin: 10px 0 0 0;
}
.website {
color: rgb(236, 239, 244);
font-size: 11px;
font-weight: normal;
margin: 12px 0 20px 0;
}
header > .buttons {
display: flex;

}
.email-btn, .linkedin-btn {
margin: 0 10px;
padding: 9px 16px 9px 16px;
border-radius: 6px;

}
.email-btn {
display: flex;
}
.linkedin-btn {
background-color: #5093E2;
color: white;
}


button .email-icon {
    background:url('src/assets/Mail.png') no-repeat;
    float: left;
    width: 17px;
    height: 16px;
    margin-right: 8px;
}
button .linked-icon {
    background:url('src/assets/linkedin.png') no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.container>main {
height: 100%;
padding: 20px;
}
.container>main>h3 {
color: white;
font-size: 18px;
margin-top: 20px;
margin-bottom: 0;
}
 .container>main>p {
color: white;
margin: 7px 0 0 0;

font-size: 14px;
}
.container>footer {
background-color: #2E3440;
border-radius: 0 0 7px 7px;
display: flex;
justify-content: center;
padding: 15px;
margin-bottom: -1px;
}
.container >footer >img {
height: 25px;
width: 25px;
margin: 0 13px;
}

*/


