:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
margin: 0;
  font-weight: 400;
  font-size: 16px;
  /*color-scheme: light dark;*/
  color: rgba(255, 255, 255, 1);
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


h1,h2,h3,h4,h4,p,div {
margin: 0;
padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {

  border: 1px solid transparent;


  font-family: inherit;
  background-color: white;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 3px;
  /*transition: border-color 0.25s;*/
}
button:hover {
  /*border-color: #646cff;*/
}
button:focus,
button:focus-visible {

}

@media (prefers-color-scheme: light) {
  :root {
    /*color: #213547;*/
    /*background-color: #ffffff;*/
  }

  button {
    /*background-color: #f9f9f9;*/
  }
}

* {
box-sizing: border-box;
 /*color: black;*/
}

body {
  margin: 0;
  display: flex;
background-color: #D8DEE9;
padding: 10px;
height: 100vh;
justify-content: center;
}

.container {
width: 600px;
height: 100%;
display: flex;
flex-direction: column;
border-radius: 6px;
background-color: #4C566A;
/*box-sizing: border-box;*/
padding: 5px;
}

.meme-nav {
display: flex;
height: 65px;
width: 100%;
flex-shrink: 0;
align-items: center;
padding: 0 20px;
background-color: #B48EAD;
border-radius: 6px 6px 0 0;
box-shadow: 0 2.98256px 7.4564px rgba(0, 0, 0, 0.15);

}
.meme-nav >img {
height: 28px;
width: auto;
margin-right: 10px;
}
.meme-nav>h3 {
font-size: 20px;
font-weight: 500;
}
.meme-nav>p {
font-size: 12px;
font-weight: 400;
margin-left: auto;
margin-right: 20px;
}


.container > .content {
height: 100%;
width: 100%;
padding: 40px 40px 60px 40px;
/*overflow-y: scroll;*/
display: flex;
flex-direction: column;

}

.meme-form {
display: flex;
flex-direction: column;
margin-bottom: 40px;
}
.top-row {
/*background-color: #5093e2;*/
display: flex;
margin-bottom: 20px;
}
.top-text,.bottom-text {
all: unset;
box-sizing: border-box;
border: 1px solid rgb(236, 239, 244);
height: 35px;
border-radius: 4px;
width: 100%;
font-size: 14px;
  font-weight: 300;
/*padding-left: 12px;*/
text-indent: 8px;

}
input::placeholder {

color: black;
opacity: 1;
}


.top-text::placeholder, .bottom-text::placeholder {
color: rgb(236, 239, 244);
opacity: 0.6;
}
.top-text {
margin-right: 10px;
}
.bottom-text {
margin-left: 10px;
}
.top-text:focus,.bottom-text:focus {
border: 1px solid rgb(236, 239, 244,0.6);
}


.new-meme {
border: none;
border-radius: 6px;
background-color:#B48EAD ;
padding: 10px;
width: 100%;
color: white;
font-size: 16px;
font-weight: 500;
box-shadow: 0 2.98256px 7.4564px rgba(0, 0, 0, 0.15);
}

.meme-image {
max-width: 100%;
width: 100%;
height: 520px;
margin-left: auto;
}

.meme {
    position: relative;
}


.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}
.top {
    top: 0;
}






.form1 {
display: flex;
flex-direction: column;

}
.form1 > *  {
margin: 5px 0;
}













/* box testing

.box {
margin: 4px;
border: 2px solid black;
height: 50px;
width: 50px;
}
.box:hover {
background-color: rgb(000,000,000,0.2);
}

*/

/*
travel journal project
.container {
width: min-content;
height: 100%;
display: flex;
flex-direction: column;
border-radius: 9px;
!*padding: 6px;*!
background-color: #4C566A;
box-sizing: border-box;

}

.container>nav {
display: flex;
align-items: center;
justify-content: center;
height: 55px;
flex-shrink: 0;
background-color: #BF616A;
border-radius: 9px 9px 0 0;
box-shadow: 0 2.98256px 7.4564px rgba(0, 0, 0, 0.15);

}
.container > .content {
height: 100%;
width: 100%;
padding: 55px 40px 35px 40px;
!*overflow-y: scroll;*!
}
.content>.test {
height: 100%;
width: 100%;
}


.container>nav>h3 {
font-size: 16px;
font-weight: 500;
  !*font-family: Inter, serif;*!
}
.travel-logo {
height: 24px;
width: 24px;
margin-right: 8px;
}

.travel-component {
display: flex;
box-shadow: 0 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
border-radius: 6px;
width: 700px;
margin-bottom: 30px;
!*background-color: rgba(255, 255, 255, .3);*!
}
.right-side {
display: flex;
flex-direction: column;
padding: 15px 20px;
}
.travel-image {
height: 200px;
width: 150px;
!*margin-right:20px;*!
border-radius: 6px 0 0 6px;
object-fit: cover;
object-position: right;

}
.coord-logo {
width: auto;
height: 15px;
align-self: center;

}
.location-holder {
display: flex;
margin-bottom: 10px;
}
.country {
font-weight: 300;
letter-spacing: 3px;
margin-right: 15px;
margin-left: 7px;
}

a {
  font-weight: 400;
  color: lightgray;
  font-size: 13px;
  align-self: center;
}
a:hover {
  color: lightgray;
}

.right-side >h3 {
font-size: 22px;
letter-spacing: 1px;
font-weight: 500;
margin-bottom: 28px;
}

.dates {
font-size: 14px;
font-weight: 600;
margin-bottom: 7px;
}
.descriptions {
font-size: 14px;
font-weight: 300;
letter-spacing: .3px;
}




*/

/*content margin 55px top 40px sides 35px bottom*/

/*
.contacts{
!*width: min-content;*!
!*height: min-content;*!
display: flex;

}
.contact-card {
background-color: white;
border-radius: 6px;
display: flex;
flex-direction: column;
padding: 10px 10px 20px 10px;
margin: 5px;
}
.contact-card>h3 {
margin-top: 5px;
margin-bottom: 10px;
}
.info-group>p {
margin: 2px 0;
}
.cat-image {
height: 100%;
width: 200px;
border-radius: 6px;
object-fit: cover;
}
*/



/*

.logo {
height: 26px;
width: 83px;
max-width: 90px;
}
.content {
display: flex;
flex-direction: column;
padding: 26px 0 0 36px ;
}
.content >img {
width: 396px;
height: 232px;
margin: 0 39px;
!*align-self: center;*!

}
.content>h1 {
margin: 20px 0 0 0 ;
padding: 0;
font-weight: 600;
}
.content>p {
margin: 16px 0 49px 0 ;
padding: 0;
width: 320px;
font-weight: 300;
}
.airbnb-cards {
display: flex;
padding-left: 36px;
overflow: hidden;
}
.card {
margin-right: 20px;
height: min-content;
box-sizing: border-box;
  position: relative;
}
.card-badge {

position: absolute;
top: 6px;
left: 6px;
border-radius: 2px;
font-weight: 500;
padding: 5px 7px;
background-color: white;
}

.card >img {
height: 235px;
width: 176px;
flex-shrink: 0;
border-radius: 6px;
}

.card-content {
margin-top: 10px;
height: min-content;
display: flex;
flex-direction: column;
}
.rating-line {
display: flex;
align-items: center;
}

.rating-line >img {
height:14px;
width: 14px;
margin-right: 4px;
}
.rating-line > .rating {
margin-right: 6px;
font-weight: 400;

}
.rating-line > .review {
margin-right: 6px;
font-weight: 200;

}
.rating-line > .location {
margin-right: 4px;
font-weight: 200;

}
.description-line {
margin-top: 8px;
font-weight: 300;
font-size: 13px;
}
.price-line {
display: flex;
margin-top: 8px;
align-items: center;
}
.price {
font-size: 14px;
}
.person {
font-weight: 300;
font-size: 14px;

}

.gray {
color: #918E9B;
}

*/


/*

.container {
  width: 317px;
  height: 780px;
  margin: 10px;
  background-color: #3B4252;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.container > header > img {
height: 317px;
width: 317px;
margin-top: -1px;
border-radius: 7px 7px 0 0;
margin-bottom: 0;
}
.container >header>h2, .container >header>div {

 }
.container > header {
display: flex;
flex-direction: column;
align-items: center;

}
.name {
color: rgb(236, 239, 244);
font-size: 25px;
margin: 12px 0 0 0;
}
.job {
color: #F3BF99;
font-size: 13px;
font-weight: normal;
line-height: normal;
margin: 10px 0 0 0;
}
.website {
color: rgb(236, 239, 244);
font-size: 11px;
font-weight: normal;
margin: 12px 0 20px 0;
}
header > .buttons {
display: flex;

}
.email-btn, .linkedin-btn {
margin: 0 10px;
padding: 9px 16px 9px 16px;
border-radius: 6px;

}
.email-btn {
display: flex;
}
.linkedin-btn {
background-color: #5093E2;
color: white;
}


button .email-icon {
    background:url('src/assets/Mail.png') no-repeat;
    float: left;
    width: 17px;
    height: 16px;
    margin-right: 8px;
}
button .linked-icon {
    background:url('src/assets/linkedin.png') no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.container>main {
height: 100%;
padding: 20px;
}
.container>main>h3 {
color: white;
font-size: 18px;
margin-top: 20px;
margin-bottom: 0;
}
 .container>main>p {
color: white;
margin: 7px 0 0 0;

font-size: 14px;
}
.container>footer {
background-color: #2E3440;
border-radius: 0 0 7px 7px;
display: flex;
justify-content: center;
padding: 15px;
margin-bottom: -1px;
}
.container >footer >img {
height: 25px;
width: 25px;
margin: 0 13px;
}

*/


